/* https://www.digitalocean.com/community/tutorials/css-scrollbars */
/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary)
    var(--color-background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  /* TODO: Maybe transparent?? */
  background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  --scrollbar-direction: to bottom;

  background-image: linear-gradient(
    var(--scrollbar-direction),
    var(--color-primary),
    var(--color-accent)
  );

  border-radius: 999px;

  &:horizontal {
    --scrollbar-direction: to right;
  }
}
