/* https://www.digitalocean.com/community/tutorials/css-scrollbars */
/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary)
    var(--color-background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: var(--color-background);
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-accent)
  );
  border-radius: 999px;
}
