.container {
  --max-width: 1440px;
  --padding: min(2vmin, 2rem);
  /* Breakpoint for the albatross: cell size + padding-(left|right) */
  --box-size: calc(
    (var(--max-width) / 2) - (2 * var(--padding))
  );

  /* It's ya boi https://css-tricks.com/holy-albatross-with-widths/ */
  --albatross: calc(var(--box-size) * 999 - 100% * 999);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--albatross), 100%), 1fr)
  );

  max-width: var(--max-width);
  gap: 2rem; /* Easier to manage gaps */
  /* Sticky with grid? https://melanie-richards.com/blog/css-grid-sticky/ */
  align-items: baseline;

  padding: 0 var(--padding);
  margin-top: 2rem;
}

.navigation {
  & h1 {
    font-size: 1.8em;
  }

  & li {
    font-size: 1.3rem;
    margin-top: 0.5em;
  }
}

/* No way to remove this for now :( - half the size of ---max-width */
@media (min-width: 720px) {
  .sticky {
    position: sticky;
    top: 2rem;
  }
}

.content {
  max-width: 50ch;

  & section + section {
    margin-top: 2rem;
  }

  & section > * + * {
    margin-top: 1rem;
  }
}
