@import './reset.css';
@import './colors.css';
@import './fonts.css';

// https://schepp.dev/posts/smooth-scrolling-and-page-search/
@media screen and (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

/* https://twitter.com/5t3ph/status/1351509965345722380 */
a {
  &:focus {
    outline: 3px solid currentColor;
    outline-offset: 0.2em;
  }

  &:active {
    /* TODO: better pseudo state styles */
    outline: 3px solid red;
    outline-offset: 0.2em;
  }
}

.squishy-text {
  word-break: break-word; /* Samsung browser */
  word-wrap: break-word; /* IE 11 */
  overflow-wrap: anywhere;
  hyphens: auto;
}

/* Next */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > main {
    flex: 1;
  }
}
// https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted
[id] {
  scroll-margin-top: 2ex;
}
