.wrapper > *:only-of-type {
  display: grid;
  grid-template-columns:
    minmax(min(2rem, 2vw), 1fr)
    minmax(auto, 60ch)
    minmax(min(2rem, 2vw), 1fr);

  & > * {
    grid-column: 2;
  }

  & > .bleed {
    grid-column: 1 / -1;
    max-width: 100ch;
    width: 100%;
    justify-self: center;
  }
}
