.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: calc(5vmin - 1rem)
    max(var(--layout-gutter), 50vw - 30ch);
  margin-top: 2rem;

  & > * {
    margin: 0.5em;
  }
}
