.link {
  --underline-thickness: 0.12em;

  text-decoration: none;
  color: var(--color-accent);

  background-image: linear-gradient(
      var(--color-primary),
      var(--color-primary)
    ),
    linear-gradient(
      90deg,
      var(--color-accent),
      var(--color-primary)
    );

  background-size: 100% var(--underline-thickness),
    0 var(--underline-thickness);
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s linear,
    background-position 0.2s linear;

  &:hover {
    background-size: 0 var(--underline-thickness),
      100% var(--underline-thickness);
  }
}
