.link {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-accent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;

  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  /* Adds space between link text and underline */
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.15em;
  /* Creates a break for descenders */
  text-decoration-skip-ink: auto;

  transition: text-decoration-color 0.4s ease;

  &:hover {
    text-decoration-color: var(--color-accent);
  }
}
