.link {
  --underline-thickness: 0.12em;
  --transition-duration: 0.2s;

  text-decoration: none;
  color: var(--color-accent);

  background-image: linear-gradient(
      var(--color-primary),
      var(--color-primary)
    ),
    linear-gradient(
      to right,
      var(--color-primary),
      var(--color-accent)
    );

  background-size: 100% var(--underline-thickness),
    0 var(--underline-thickness);
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;

  &:hover {
    background-size: 0 var(--underline-thickness),
      100% var(--underline-thickness);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: background-size var(--transition-duration)
        linear,
      background-position var(--transition-duration) linear;
  }
}
